{% load static %}
<!DOCTYPE HTML>

<html>
<head>
    <title>Digital Twin</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {#		<link rel="stylesheet" href="assets/css/main.css" />#}
    {#		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>#}
    <link rel="stylesheet" href="{% static 'systemWeb_static/css/main.css' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'systemWeb_static/css/noscript.css' %}"/>
    </noscript>
    <style>
        #banner {

        }

        #banner-header {

        }


        .carousel {
            overflow: hidden;
            width: 100%; /* Adjust as needed */
            height: 100%; /* Adjust as needed */
            position: absolute;
            top: 0;
            left: 0;
        }

        .carousel-images {
            display: flex;
            width: 100%;
            transition: transform 1s ease;
        }

        .carousel-images img {
            /* Adjust as needed */
            height: 100%; /* Adjust as needed */
            object-fit: cover;
        }
    </style>

</head>
<body class="is-preload landing">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1 id="logo"><a href="/index">Digital Twin</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="{% url 'case_list' %}">Cases</a></li>
                <li>
                    <a href="#">Layout</a>
                    <ul>
                        <li><a href="/left-sidebar">Left Sidebar</a></li>
                        <li><a href="/right-sidebar">Right Sidebar</a></li>
                        <li><a href="/no-sidebar">No Sidebar</a></li>
                    </ul>
                </li>
                <li><a href="/login" class="button primary">Login</a></li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <div class="carousel">
                <div class="carousel-images">
                    <img src="{% static 'systemWeb_static/images/background_1.png' %}" alt="Image 1">
                    <img src="{% static 'systemWeb_static/images/background_2.jpg' %}" alt="Image 2">
                    <img src="{% static 'systemWeb_static/images/background_3.jpg' %}" alt="Image 3">
                    <img src="{% static 'systemWeb_static/images/background_2.jpg' %}" alt="Image 4">
                </div>
            </div>
            <header id="banner-header">
                <h2>大数据和人工智能</h2>
                <p>第四次工业革命已经到来，而“智能<br/>
                    理世界与信息化的虚拟世界的交互与融合</p>
            </header>
{#            <span class="image"><img src="{% static 'systemWeb_static/images/pic01.jpg' %}" alt=""/></span>#}
        </div>
        <a href="#one" class="goto-next scrolly">Next</a>
    </section>

    <!-- One -->
    <section id="one" class="spotlight style1 bottom">
        <span class="image fit main"><img src="{% static 'systemWeb_static/images/pic02.jpg' %}" alt=""/></span>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>第四次工业革命</h2>
                            <p>新一代信息技术（互联网、大数据、人工智能）的迅速发展已引发第四次工业革命</p>
                        </header>
                    </div>
                    <div class="col-4 col-12-medium">
                        <p>使用WebGL 3D绘图协议，结合JavaScript和OpenGL ES2.0，提供3D硬件加速，增强数据可视化效果和实时渲染效率。
                            OpenGL ES的JavaScript和OpenGL ES2.0，提供3D硬件加速，增强数据可视化效果和实时渲染效率。
                            Ope标准化为不同平台的用户提供了支持，同时能够最大程度地利用高性能的3D渲染硬件，实现数字孪生模型的实时渲染和可视化。
                            这种技术选择有助于实现虚拟场景的快速建模和高效的可视化展示。</p>
                    </div>
                    <div class="col-4 col-12-medium">
                        <p>使用WebGL 3D绘图协议，结合JavaScript和OpenGL ES2.0，提供3D硬件加速，增强数据可视化效果和实时渲染效率。
                            OpenGL ES的JavaScript和OpenGL ES2.0，提供3D硬件加速，增强数据可视化效果和实时渲染效率。
                            Ope标准化为不同平台的用户提供了支持，：新一代信息技术（互联网、大数据、人同时能够最大程度地利用高性能的3D渲染硬件，实现数字孪生模型的实时渲染和可视化。
                            这种技术选择有助于实现虚拟场景的快速建模和高效的可视化展示。</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#two" class="goto-next scrolly">Next</a>
    </section>

    <!-- Two -->
    <section id="two" class="spotlight style2 right">
        <span class="image fit main"><img src="{% static 'systemWeb_static/images/pic03.jpg' %}" alt=""/></span>
        <div class="content">
            <header>
                <h2>建模环境展示</h2>
                <p>互联网、大数据和人工智能等新一代信息技术的快速发展</p>
            </header>
            <p>造”为主导的第四次工业革命已经到来，而“智能制造”的核心就是通过利用各 种技术实现</p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </div>
        <a href="#three" class="goto-next scrolly">Next</a>
    </section>

    <!-- Three -->
    <section id="three" class="spotlight style3 left">
        <span class="image fit main bottom"><img src="{% static 'systemWeb_static/images/pic04.jpg' %}" alt=""/></span>
        <div class="content">
            <header>
                <h2>项目介绍可视化系统。</h2>
                <p> 采用先进的模型和算法进行分析决策，从可视化的角度呈现</p>
            </header>
            <p>造”为主导的第四次工业革命已经到来，而“智能制造”的核心就是通过利用.</p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </div>
        <a href="#four" class="goto-next scrolly">Next</a>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper style1 special fade-up">
        <div class="container">
            <header class="major">
                <h2>的JavaScript和OpenGL ES2.0，</h2>
                <p>造”为主导的第四次工业革命已经到来，而“智能制造”的核心就是通过利用.</p>
            </header>
            <div class="box alt">
                <div class="row gtr-uniform">
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-chart-area"></span>
                        <h3>的JavaScript和OpenGL ES2.0，</h3>
                        <p>造”为主导的第四次工业革命已经到来，而“智能制造”的核心就是通过利用.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-comment"></span>
                        <h3>的JavaScript和OpenGL ES2.0，</h3>
                        <p>造”为主导的第四次工业革命已经到来，而“智能制造”的核心就是通过利用.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-flask"></span>
                        <h3>的JavaScript和OpenGL ES2.0，</h3>
                        <p>造”为主导的第四次工业革命已经到来，而“智能制造”的核心就是通过利用.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-paper-plane"></span>
                        <h3>的JavaScript和OpenGL ES2.0，</h3>
                        <p>造”为主导的第四次工业革命已经到来，而“智能制造”的核心就是通过利用.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-file"></span>
                        <h3>的JavaScript和OpenGL ES2.0，</h3>
                        <p>造”为主导的第四次工业革命已经到来，而“智能制造”的核心就是通过利用.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-lock"></span>
                        <h3>的JavaScript和OpenGL ES2.0，</h3>
                        <p>造”为主导的第四次工业革命已经到来，而“智能制造”的核心就是通过利用.</p>
                    </section>
                </div>
            </div>
            <footer class="major">
                <ul class="actions special">
                    <li><a href="#" class="button">建模AAAAA环境展示</a></li>
                </ul>
            </footer>
        </div>
    </section>

    <!-- Five -->
    <section id="five" class="wrapper style2 special fade">
        <div class="container">
            <header>
                <h2>建模环境展示</h2>
                <p>造”为主导的第四次工业革命已经到来，而“智能制造”的核心就是通过利用.</p>
            </header>
            <form method="post" action="#" class="cta">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email"
                                                            placeholder="Your Email Address"/></div>
                    <div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary"/>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: lzy</li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script src="{% static 'systemWeb_static/js/jquery.min.js' %}"></script>
<script src="{% static 'systemWeb_static/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'systemWeb_static/js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'systemWeb_static/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'systemWeb_static/js/browser.min.js' %}"></script>
<script src="{% static 'systemWeb_static/js/breakpoints.min.js' %}"></script>
<script src="{% static 'systemWeb_static/js/util.js' %}"></script>
<script src="{% static 'systemWeb_static/js/main.js' %}"></script>

<script>
    let currentIndex = 0;

    const carouselImages = document.querySelector('.carousel-images');
    const totalImages = document.querySelectorAll('.carousel-images img').length;

    function showNextImage() {
        currentIndex = (currentIndex + 1) % totalImages;
        const offset = -currentIndex * 600; // Adjust width as needed
        carouselImages.style.transform = `translateX(${offset}px)`;
    }

    setInterval(showNextImage, 5000);

</script>

</body>
</html>