{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>SignUp</title>

    <link rel="stylesheet" href="{% static 'systemWeb_static/css/signUpPage.css' %}">
</head>
<body>
<div class="navigatorBox">
    <div class="a1">
        <div class="a11">
            <p id="navWelcome">Welcome!</p>
        </div>
        <div class="a12">
            <p><a href="/homePage">Home</a></p>
        </div>
        <div class="a13">
            <p><a href="#">Donate</a></p>
        </div>
        <div class="a14">
            <p><a href="#">Features</a></p>
        </div>
    </div>
</div>
<div class="mainBox">
    <form method="post">
        {% csrf_token %}
        <div class="loginBox">
            <div class="akeys">
                <p id="textLogin">Sign up here</p>
            </div>
            <div class="bkeys">
                <div id="info">
                    <p id="Username">Username:</p><input name="username">
                    <p id="Password">Password:</p><input name="password">
                </div>
            </div>
            <div class="ckeys">
                <input type="submit" value="Sign Up Now!" class="inKey">
            </div>
        </div>
    </form>
</div>
<div class="helpBox">
    <p id="knowMore">To know more?<a href="/contactUs"> contact us</a></p>
</div>
</body>
</html>